*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


.main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main button{
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 600;
}

