*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.box{
    height: 300px;
    width: 300px;
    background-color: rgb(34, 76, 144);
}

.main{
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main h1{
    padding-bottom: 30px;
}

.main button{
    height: 40px;
    margin-top: 30px;
    border: none;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 10px;
}

